
.icon{
    font-size: 2rem;
}
.navLink{
 text-decoration: none;
 color: var(--white); 
}
.navLink:hover {
    transform: scale(1.1); 
}
 
span{
    display: flex;    
    justify-content: center;
    align-items: center;
}