#root {
  margin: 0 auto;  
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem
}
.banner-box{  
    margin-top: 2.1rem;
    background: url("../src/images/banner.jpg");
    width: 100%;
    opacity: 80%;
    height: 200px; 
}
.img-cover{
  width: 100%;
  height: 100px;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  margin: 0;
  padding: 0;
  opacity: 60%;
}

@media only screen and (max-width: 700px){
  .container {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .container {
    width: 100%;
  }
}
